<h1>Registration form here</h1>

<form action='/' method="POST">
  <label>Email</label>
    <input type="email" name="username">
  <label>Password</label>
    <input type="password" name="password">
    <input type="submit">
</form>
