<h1>R E G I S T E R</h1>

<form id="register-form" action='/register' method="POST">
  <label>Username</label>
    <input type="text" name="username">
  <label>Password</label>
    <input type="password" name="password">
    <input type="submit">
</form>